@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* | Variable */
:root {
    /* Color Variable */
    --background: #1e1e1e;
    --font-color: whitesmoke;
    --button-background-color: #007acc;
    --secondary-background: #343434;
    
    /* Font Family Variable */
    --font-family: Roboto;

    /* Font Size Variable*/
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
}

/* | Utility Class */

/* || Flex Box */
.flex-box {
    display: flex;
}

.flex-box--vertical {
    flex-direction: column;
}

.flex-box--gap-small {
    gap: 1rem;
}

.flex-box--gap-very-small {
    gap: 0.5rem;
}

.flex-box__grow {
    flex-grow: 1;
}

/* || Grid Box */
.grid-box {
    display: grid;
}

.grid-box--gap-small {
    gap: 1rem;
}

/* || Button */
.button {
    border-radius: 10px;
    padding: 5px;
    border: 0;
}

.button:hover {
    cursor: pointer;
}