.maps-routes {
    background-color: var(--background);
    color: var(--font-color);
    padding: 10px 10vw;
    flex-grow: 0.1;
    width: 100vw;
}

.route__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.route__input {
    border-radius: 10px;
    border: 0;
    padding: 5px;
}

.route__button {
    background-color: var(--button-background-color);
    color: var(--font-color);
    margin: 5px 15vw;
}

.route__button:hover {
    background-color: var(--font-color);
    color: var(--button-background-color);
}

/* main map */
.main-map {
    flex-direction:column-reverse;
}

/* Route Suggestion */
.suggestion {
    background-color: var(--secondary-background);
}

.suggestion__header {
    align-items: center;
}

.suggestion__title {
    text-align: center;
    color: var(--font-color);
}

@media only screen and (min-width:  768px) {
    .maps-routes {
        padding: 10px 30vw;
    }

    .route__button {
        margin: 5px 10vw;
    }

    .main-map {
        flex-direction: row;
    }
}