{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>Bus Tracker</title>
</head>

<body>

    <header class="header">
        <form action="" class="route flex-box flex-box--horizontal flex-box--gap-very-small">
            <!-- Current Place -->
            <div class="grid-box route__content">
                <label for="current_place" class="route__label">Current Place: </label>
                <input name="current_place" type="text" class="route__input">
            </div>

            <!-- Destination -->
            <div class="grid-box route__content">
                <label for="destination" class="route__label">Destination: </label>
                <input name='destination' type="text" class="route__input">
            </div>

            <input type="submit" value="Get Route" class="route__button button">
        </form>

    </header>