{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/maps.css' %}">

<header class="header">
    <form action="" class="route flex-box flex-box--horizontal flex-box--gap-very-small">
        <!-- Current Place -->
        <div class="grid-box route__content">
            <label for="current_place" class="route__label">Current Place: </label>
            <input name="current_place" type="text" class="route__input">
        </div>

        <!-- Destination -->
        <div class="grid-box route__content">
            <label for="destination" class="route__label">Destination: </label>
            <input name='destination' type="text" class="route__input">
        </div>

        <input type="submit" value="Get Route" class="route__button button">
    </form>
</header>

<main class="grid-box flex-box__grow">
    <div id="map" style="width: 100vw;"></div>
</main>

<script src="{% static 'js/maps.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNbxMEjqRr9jk3IFmP9gKBs2-NDWCwwmE&callback=initMap"></script>

{% endblock %}