{% extends 'main.html' %} {% load static %} {% block content %}

<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
  rel="stylesheet"
/>

<main class="flex-box flex-box__grow flex-box--vertical">
  <section class="maps-routes flex-box__grow">
    <form
      id="maps-routes"
      action="{% url 'route' %}"
      class="route flex-box flex-box--vertical flex-box--gap-very-small"
      method="get"
    >
      <!-- Current Place -->
      <div class="grid-box route__content">
        <label for="current_place" class="route__label">Current Place: </label>
        <input
          id="current_place"
          name="current_place"
          type="text"
          class="route__input"
        />
      </div>

      <!-- Destination -->
      <div class="grid-box route__content">
        <label for="destination" class="route__label">Destination: </label>
        <input name="destination" type="text" class="route__input" />
      </div>

      <input type="submit" value="Get Route" class="route__button button" />
    </form>
  </section>

  <section id="map" style="height: 80vh"></section>
</main>

{% include 'base/mapsjs.html' %}

{% endblock %}
